/* CartItem.module.scss */


.cart-product-image-cell {
    width: 140px;
    text-align: center;
}

.cart-product-image {
    width: 100%;
    height: auto;
    max-width: 80px;
}

.cart-product-name {
    font-weight: bold;
    text-align: center;
    width: calc(100% - 10px);
}

.cart-product-price,
.cart-product-quantity,
.cart-product-total {
    text-align: center;
}

.cart-product-action {
    text-align: center;
}

.button-cart-minus,
.button-cart-plus,
.button-cart-delete {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button-cart-minus:hover,
.button-cart-plus:hover,
.button-cart-delete:hover {
    background-color: #d32f2f;
}

.button-cart-minus:active,
.button-cart-plus:active,
.button-cart-delete:active {
    background-color: #b71c1c;
}

.cart-product-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-product-quantity input[type="number"] {
    width: 70px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    margin-top: 24px;
}

.input-quantity {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}