.form-wrapper {
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    h3 {
        text-align: center;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;
        padding: 8px;


        label {
            font-weight: 600;
            flex: 1;
            display: block;
            margin-right: 16px;
        }

        input {
            width: 200px;
            padding: 8px;
            border-radius: 4px;
        }
    }
}